/* Reset and basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body { 
    font-family: Arial, sans-serif; 
    color: #333; 
    padding-top: 90px;
    padding-bottom: 80px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #f4f6f8;
  z-index: 1000;
} 
header a {
      color: #ccc;
      font-size: 12px;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.logo img {
  width: 55px;
  height: 55px;
}
.logo-name {
      
      text-align: center;
}
.logo-name h3 {
  font-size: 1.4rem;
  color: #0b3d91;
}

.logo-name p {
  font-size: 13px;
  font-weight: bold;
}

header img {
    width: 50px;
    height: 50px;
}

nav {
  display: flex;
  justify-content: center;
  background: #062f6e;
  overflow-x: auto;
  
}

nav a {
  color: #fff;
  padding: 5px;
  text-decoration: none;
  font-size: 14px;
  white-space: nowrap;
 
}

nav a:hover {
  background: #0b3d91;
}

i {
    font-size: 1.9rem;
    color: blue;
    padding: 10px;
}
main {
    margin-bottom: 70px; 
}
/* About the orgnisation section with transparent background image */
#org {
    scroll-margin-top: 100px; /* fixed header height */
    position: relative; /* for overlay */
    min-height: calc(85vh - 140px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("images/prf.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
}

/* Semi-transparent overlay for image only */
#org::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6); /* image transparency */
    z-index: 1;
}

/* Make all text inside #about fully visible */
#org * {
    position: relative;
    z-index: 2;          /* ensures text is above overlay */
    color: #333;         /* fully opaque text */
}

 #org h1 {
       margin-top: 30px;
       margin-bottom: 15px;
 }
 address {
       margin-bottom: 15px;
 }
 #org h2 {
       margin-top: 30px;
 }
#org p {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

section {
    scroll-margin-top: 100px; /* fixed header height */ 
}
section #info {
    
    padding: 20px;
}
#info h2 {
      margin-top: 30px;
      margin-bottom: 15px;
}
.info {
    text-align: center;
    margin-top: 50px;
    
}
.info p {
      margin-top: 20px;
}
/* Section images */
section img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}


@media (min-width: 600px) {
      section img {
    width: 400px;
    height: 400px;
}
   }

#contact {
      padding: 30px;
}
.contact-form {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      width: 100%;
      background: #f4f4f4;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 5px rgba(0,0,0,0.1);
    }

    .contact-form input,
    .contact-form textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      outline: none;
      border-radius: 5px;
      font-size: 1rem;
      box-shadow: 0 0 10px #ccc;;
    }
    
    .contact-form input:hover {
       box-shadow: 0 0 10px #0D5772;
    }
    .contact-form textarea:hover {
        box-shadow: 0 0 10px #0D5772;
    }
    .contact-form button {
      background: #0a66c2;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      width: 100%;
      font-size: 1rem;
    }

    .contact-form button:hover {
      background: transparent;
      border: 1px solid #0a66c2;
      color: #0D5772;
    }


footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  padding: 10px; 
  background: #062f6e; 
  color: white;   
}
.info mg {
    object-fit: cover;
}